body {
    font-family: "Roboto", sans-serif;
    color:#434455;
    background-color:#FFFFFF;
    margin: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    margin: 0;
}
ul {
    list-style: none;
    margin: 0;
   
}

/*      ________________________Header_____________________          */

.page-header {
display: flex;
justify-content: space-between;
padding-top: 24px;
padding-left: 156px;
padding-right: 156px;
padding-bottom: 24px;
}

.conteiner {
    max-width: 1158px;
   margin: 0;
   display: flex; 
}
.nav-conteiner {
    display: flex;
   
    }

.logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
    
        /* line-height: 21px; */
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        
}
.logo-part {font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;

    /* line-height: 21px; */
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;} 
    .page-nav {
        display: flex;
        gap: 40px;
    }
        .navigation {
            font-weight: 500;
            font-size: 16px;
    
            /* line-height: 24px; */
            line-height: 150%;
            letter-spacing: 0.02em;
            color: #2e2f42;
        }
        .navigation:hover,
        .navigation:focus {
            color: #404bbf;
        }
    
        .navigation:active {
            color: #404bbf;
            text-decoration: underline;
        } 
                .contacts {
                    font-style: normal;    
                }
        .contacts-list {
display: flex;
    justify-content: flex-end;
    gap: 40px;
        }
                .contacts,
                .contacts-link {
                    font-family: "Roboto", sans-serif;
                    font-weight: 400;
                    font-size: 16px;
        
                    /* line-height: 24px; */
                    line-height: 150%;
                    letter-spacing: 0.02em;
                    color: #434455;
                }
                .contacts,
                .contacts-link:hover {
                    color: #404bbf;
                }
        
                .contacts,
                .contacts-link:focus {
                    color: #404bbf;
                }
    /* __________________________       main       __________________________ */
.main-page {
    background: #2e2f42;
    
}
.main-page-title {
        font-weight: 700;
        font-size: 56px;
    
        /* line-height: 60px; */
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}
        .main-title {
        padding-top: 188px;
        padding-right: 472px;
        padding-left: 472px;
        margin-bottom: 48px;
}
.main-page-button {
        font-weight: 500;
        font-size: 16px;
        width: 169px;
            height: 56px;
    
        /* line-height: 24px; */
        line-height: 150%;
        letter-spacing: 0.04em;
        color: #fff;
        background: #4d5ae5;
            cursor: pointer;}

            .button {
            padding-left: 636px;
            padding-right: 635px;
            padding-bottom: 188px;         
}
.main-page-button:hover {
     background: #404bbf;
}
.main-page-button:focus {
    background: #404bbf;
}
.main-page-descr {

padding-left: 156px;
    padding-left: 156px;
    padding-top: 144px;
    padding-bottom: 201px;
}
.wrapper {
    width: 1128px;  
}
.main-list {
display: flex;
gap: 24px;
justify-content: center;

}

.main-page-thirdtitle {
        font-weight: 500;
        font-size: 20px;
     /* line-height: 24px; */
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.main-page-text
{
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}
.ourteam {
    background: #f4f4fd;
    padding-top: 120px;
        padding-bottom: 120px;
}
.ourteam-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 72px;
}
.ourteam-title {
     font-weight: 700;
        font-size: 36px;
    
        /* line-height: 40px; */
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;      
}

.team-box {
    background-color: #FFFFFF;
}
.ourteam-header {
        font-weight: 500;
        font-size: 20px;
    
        /* line-height: 24px; */
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.ourteam-text {
        font-weight: 400;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}
/*______________________________________OurPortfolio______________________________*/
.ourportfolio {
    padding-bottom: 120px;
    padding-top: 39px; 
}
.ourportfolio-title {
    font-weight: 700;
        font-size: 36px;
    
        /* line-height: 40px; */
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize; 
        color: #2e2f42;
}
.ourportfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;}
    
    
.thirdtitle {
    
        font-weight: 500;
        font-size: 20px;
    
        /* line-height: 24px; */
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.ourportfolio-text {
   
        font-weight: 400;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}
/*_________________________________ footer_________________________*/
.footer {
        background: #2e2f42;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 156px;
        padding-right: 1020px;
}
.footer-box {
    display: flex;
    width: 264px;
    flex-direction: column;
    gap: 16px;
    
}
.footer-text {
        font-weight: 400;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}
.footer-logo {
        font-weight: 700;
        font-size: 18px;
    
        /* line-height: 21px; */
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.footer-logo-part {
        font-weight: 700;
        font-size: 18px;
    
        /* line-height: 21px; */
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}
